
:root {
    --light-blue-bg: #F0F8FF; 
    --primary-light-blue: #87CEFA; 
    --primary-light-blue-hover: #6495ED;
}


body {
    background-color: var(--light-blue-bg);
}


.btn-primary {
    background-color: var(--primary-light-blue);
    border-color: var(--primary-light-blue);
    color: #333333; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: var(--primary-light-blue-hover);
    border-color: var(--primary-light-blue-hover);
    color: #FFFFFF; 
}


.navbar-nav .nav-item .nav-link.active {
    color: var(--primary-light-blue) !important;
    font-weight: bold;
}


footer.bg-dark {
    background-color: #34495e !important;
}